/* reset some default behavior */
a {
    text-decoration: none;
}

ul {
    list-style: none;
}

button,
#view-more-btn,
#about-section-fold-btn {
    cursor: pointer;
    border: none;
    padding: 15px 20px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
}

textarea {
    resize: none;
}


/* utility class */

.flex {
    display: flex;
    align-items: center;
}

.slide-left-right {
    animation-name: slide;
    animation-duration: 1.2s;
    transition-timing-function: cubic-bezier(.89, -0.87, .51, 1.2)
}

@keyframes slide {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}

.section {
    display: flex;
    padding: 20px 50px 0 50px;
    flex-direction: column;
    background: var(--section-bg);
    max-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    transition: background .5s;
}

.section.scroll-switch-on {
    display: flex;
    position: static;
}

section { 
    display: flex;
    max-width: 100vw;
}

section.scroll-switch-on {
    position: relative;
    display: flex;
}

.section-heading {
    color: var(--section-heading);
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: 600;
    background: linear-gradient(to right, #6c69ff, #4265ff, #1856ff);
    border-bottom-right-radius: 50%;
    border-top-left-radius: 60%;
    width: 100vw;
    height: 50px;
    transition: color .5s;
    position: relative;
    z-index: 5;
}
 
.section-heading span {
    font-size: 40px;
    transform: translateY(18px);
}

.container {
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 50px;
    gap: 35px;
    padding-bottom: 25px;
}

.item {
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background: var(--item-bg);
    transition: 0.1s background .5s;
    transition-property: transform, box-shadow;
}

/* css for custom scrollbar */

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to top, #008aff, #0011ff);
}

.not-present {
    font-size: 50px;
    color: aquamarine;
    margin-block: 100px;
}